<div id="app">
  <navbar-component></navbar-component>
  <sidebar-component></sidebar-component>
  <router-view></router-view>
  <modal-component></modal-component>
  <footer-component></footer-component>
</div>
